*{
    margin:0
    padding:0 
}
.parent {
    background: teal;
    height: 600px;
    width: 800px;
    margin: 0% auto;
    position: relative; 
}
.childOne {
    height: 100px;
    width: 100px;
    background: tomato;
    position: absolute;
    top:0;
    left:0;              
}                           
.childTwo {
    height: 100px;
    width:100px;
    background: tomato;
    position:absolute;
    top:0;
    right:0;
}
.childThree {
    height: 100px;
    width: 100px;
    background: tomato;
    position: absolute;
    bottom: 0;
    right: 0;                 
}
.childFour {
    height: 100px;
    width:100px;
    background: tomato;
    position: absolute;
    bottom: 0;
    left:0;
    border-radius: 50%;
}   
.childFive {
    heght: 100px;
    width: 100px;
    background:
}